.cabecera_float {
  height: 3em;
}

.menu_float {
	  float: left;
	  width: 15%;
	  height: 10em;
    background-color: darksalmon;
}
.principal_float {
	  float: left;
	  width: 65%;
	  height: 10em; 
    background-color: antiquewhite;
}
.lateral_float {
	  float: left;
	  width: 20%;
	  height: 10em;
    background-color: chartreuse;
}
.pie_float {
	  clear: both;
	  height: 3em;
}