.table_tabla {
  width: 100%;
  border-collapse: collapse
}
.cabecera_tabla {
  height: 4em;
}
.menu_tabla {
  width: 15%;
  background-color: antiquewhite;
}
.principal_tabla {
  width: 65%;
  height: 15em;
  background-color: chartreuse;
}
.lateral_tabla {
  width: 20%;
  background-color: darksalmon;
}
.pie_tabla {
  height: 3em;
}